.gradeBtn {
  font-family: "Cookie-Run-R";
  font-size: 35px;
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 15px;
}

.common.active {
  color: rgb(175, 61, 61);
}

.magic.active {
  color: rgb(19, 113, 255);
}

.rare.active {
  color: rgb(200, 0, 227);
}

.unique.active {
  color: rgb(255, 242, 0);
}

.epic.active {
  color: rgb(242, 9, 9);
}

.legendary.active {
  color: rgb(48, 242, 9);
}

.gradeList {
  width: 1200px;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.gradeCard {
  margin: 15px;
}
