html,
body {
  position: relative;
  height: 100%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

.mySwiper1 {
  width: 1200px;
  height: 700px;
  top: 50px;
  display: inline-block;
}

.mySwiper1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiper1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mySwiper2 {
  width: 1200px;
  height: 500px;
  top: 100px;
}

.mySwiper2 .swiper-slide {
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cardPickMain {
  display: inline-block;
  width: 300px;
  padding: 30px 30px;
  animation: cardPickMain 1s infinite;
  vertical-align: top;
}

@keyframes cardPickMain {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(7deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cardPickBtnMain {
  font-size: 20px;
  font-family: "Cookie-Run-R";
  text-shadow: black 3px 3px 5px;
  width: 70%;
  margin: 2em auto;
  border: 6px solid rgba(255, 255, 255, 0.45);
  border-radius: 50px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: pointer;
}
.cardPickBtnMain:before {
  content: "";
  width: 83%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}
.cardPickBtnMain:after {
  content: "";
  width: 83%;
  height: 100%;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}

.cardPickBtnMain {
  background-image: linear-gradient(90deg, #8ce0f1, #79f391);
}
.cardPickBtnMain:before {
  background-image: linear-gradient(90deg, #8ce0f1, transparent);
}
.cardPickBtnMain:after {
  background-image: linear-gradient(90deg, transparent, #79f391);
}

.toLoginBox {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 10px;
}

.goLogin {
  width: 300px;
  height: 75px;
  margin-top: 30px;
  font-size: 35px;
  border: 1px solid;
  border-radius: 25px;
  font-family: "Cookie-Run-T";
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeImg {
  width: 300px;
  position: relative;
}
.welcomeImg:hover:before {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0px;
  height: 5px;
  animation: underliner 2s linear forwards infinite;
}

@keyframes underliner {
  0% {
    width: 0px;
    background-color: red;
  }
  20% {
    width: 40px;
    background-color: yellow;
  }
  40% {
    width: 80px;
    background-color: greenyellow;
  }
  60% {
    width: 120px;
    background-color: skyblue;
  }
  80% {
    width: 160px;
    background-color: violet;
  }
  100% {
    width: 200px;
    background-color: plum;
  }
}

@keyframes aura {
  0% {
    box-shadow: 0 0 60px 30px #cbe4d0;
  }
  50% {
    box-shadow: 0 0 60px 30px #cbe4d0, 0 0 100px 60px rgb(255, 169, 255);
  }
  100% {
    box-shadow: 0 0 60px 30px #cbe4d0, 0 0 100px 60px rgb(255, 169, 255),
      0 0 140px 90px rgb(157, 248, 248);
  }
}

.logOut {
  font-size: 25px;
  font-family: "Cookie-Run-T";
  border: 3px solid black;
  border-radius: 25%;
}
