.opening_player {
  position: relative;
  z-index: -2;
}

.dark {
  width: 100%;
  height: 1100px;
  background-color: black;
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}

.opening {
  position: relative;
  margin-top: -5px;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.backgroundOpen {
  width: 100%;
}

.logo {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 330px;
  position: absolute;
}

.sign {
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 130px;
  position: absolute;
  z-index: -1;
}

.cgTxt {
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-shadow: 5px 5px 5px black;
  color: white;
  position: absolute;
  z-index: 0;
  font-family: "Cookie-Run-B";
}

.link {
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 1000px;
  display: flex;
  justify-content: center;
}

.linkBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px;
  width: 170px;
  height: 55px;
  border: 5px white solid;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 20%);
  font-family: "Happiness-Sans-Title";
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

.store {
  vertical-align: middle;
  width: 23px;
  margin-right: 15px;
}

.scroll {
  position: absolute;
  top: 80%;
  left: 49.3%;
  width: 35px;
  height: 35px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: down1 2s infinite;
  animation: down1 2s infinite;
}

.scrollTxt {
  position: absolute;
  top: 91%;
  left: 49%;
  color: white;
  font-family: "Cookie-Run-R";
}

@-webkit-keyframes down1 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-30px, 30px);
    opacity: 0;
  }
}
@keyframes down1 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-30px, 30px);
    opacity: 0;
  }
}

.leftTxt {
  position: absolute;
  top: 30%;
  left: -100%;
}

.fadeInLeft {
  animation: fadeInLeft 2s;
  left: 3%;
}

.fadeOutLeft {
  animation: fadeOutLeft 2s;
  left: -100%;
}

@keyframes fadeInLeft {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 3%;
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  0% {
    left: 3%;
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

.rightTxt {
  position: absolute;
  top: 13%;
  right: -100%;
  width: 450px;
}

.fadeInRight {
  animation: fadeInRight 2s;
  right: 5%;
}

.fadeOutRight {
  animation: fadeOutRight 2s;
  right: -100%;
}

@keyframes fadeInRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 5%;
    opacity: 1;
  }
}

@keyframes fadeOutRight {
  0% {
    right: 5%;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}

.openImg {
  position: absolute;
  top: 150%;
  left: 50%;
  width: 316px;
  height: 504px;
  transform: translate(-50%, -50%);
  perspective-origin: center;
}

.openImg .card {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
}

.front {
  position: absolute;
  transform: rotateY(-180deg);
}
.openImg:hover .card.front {
  transform: rotateY(0deg);
}

.back {
  position: absolute;
  transform: rotateY(0deg);
}
.openImg:hover .card.back {
  transform: rotateY(180deg);
}

.cardRotateIn {
  animation: cardRotateIn 3s;
  top: 50%;
}

.cardRotateOut {
  animation: cardRotateOut 3s;
  top: 150%;
}

@keyframes cardRotateIn {
  0% {
    top: 150%;
    transform: translate(-50%, -50%);
  }
  10% {
    transform: translate(-50%, -50%) rotateY(-180deg);
  }
  20% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  30% {
    transform: translate(-50%, -50%) rotateY(-180deg);
  }
  40% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateY(-180deg);
  }
  60% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  70% {
    transform: translate(-50%, -50%) rotateY(-180deg);
  }
  80% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  90% {
    transform: translate(-50%, -50%) rotateY(-180deg);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
  }
}

@keyframes cardRotateOut {
  0% {
    top: 50%;
  }
  100% {
    top: 150%;
  }
}

.newCard {
  position: absolute;
  top: 75%;
  width: 300px;
}
