body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Happiness-Sans-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cookie-Run-R";
  src: url("font/CookieRun\ Regular.ttf");
}
@font-face {
  font-family: "Cookie-Run-T";
  src: url("font/CookieRun\ Black.ttf");
}
@font-face {
  font-family: "Cookie-Run-B";
  src: url("font/CookieRun\ Bold.ttf");
}

.cardPickBack {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 5;
}

.background {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.cardPick {
  background-color: black;
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 700px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.skip {
  position: absolute;
  top: 11.75%;
  right: 2.3%;
  display: none;
}

.skipBtn {
  width: 105px;
  height: 30px;
  border: none;
  color: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header {
  width: max-content;
  height: max-content;
}

.navBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.navBar ul {
  display: flex;
  align-items: center;
}

.navBar ul li {
  color: white;
  font-size: 50px;
  font-family: "Cookie-Run-B";
  margin: 0 50px;
}

.navBar ul li a:-webkit-any-link {
  text-decoration: none;
  color: white;
}

.navBar ul li a:-webkit-any-link:hover {
  color: rgb(235, 238, 24);
  transition: 1s;
}

.navBar ul li img {
  margin-top: 15px;
}

.cardPack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 300px;
  display: none;
}

.cardEffect {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: 4s ease-in-out;
  z-index: 3;
}

@keyframes lightBoom {
  0% {
    background-color: transparent;
    box-shadow: 0 0 10px transparent;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 30px rgba(255, 255, 255, 0.8), 0 0 50px white, 0 0 70px white,
      0 0 90px white, 0 0 110px white, 0 0 130px white, 0 0 150px white,
      0 0 170px white, 0 0 190px white, 0 0 210px white;
  }
}

@keyframes upOut1 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: -170%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: -10%;
    left: -170%;
    transform: translate(-50%, -50%);
  }
}

@keyframes upOut2 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: -60%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: -10%;
    left: -60%;
    transform: translate(-50%, -50%);
  }
}

@keyframes upOut3 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes upOut4 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: 160%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: -10%;
    left: 160%;
    transform: translate(-50%, -50%);
  }
}
@keyframes upOut5 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: 270%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: -10%;
    left: 270%;
    transform: translate(-50%, -50%);
  }
}

@keyframes upOut6 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: -170%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 110%;
    left: -170%;
    transform: translate(-50%, -50%);
  }
}

@keyframes upOut7 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: -60%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 110%;
    left: -60%;
    transform: translate(-50%, -50%);
  }
}

@keyframes upOut8 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes upOut9 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: 160%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 110%;
    left: 160%;
    transform: translate(-50%, -50%);
  }
}
@keyframes upOut10 {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: -250%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: -250%;
    left: 270%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 110%;
    left: 270%;
    transform: translate(-50%, -50%);
  }
}

.pickCard1,
.pickCard2,
.pickCard3,
.pickCard4,
.pickCard5,
.pickCard6,
.pickCard7,
.pickCard8,
.pickCard9,
.pickCard10 {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1s ease-in;
  animation-fill-mode: forwards;
  perspective-origin: center;
}

.cardOne {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}
.cardTwo {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}
.cardThree {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}
.cardFour {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}
.cardFive {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}
.cardSix {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}
.cardSeven {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}
.cardEight {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}
.cardNine {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}
.cardTen {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}

.pickFront {
  position: absolute;
  height: 300px;
  transform: rotateY(-180deg);
}
.frontTurn {
  transform: rotateY(0deg);
}

.pickBack {
  position: absolute;
  height: 300px;
  transform: rotateY(0deg);
}
.backTurn {
  transform: rotateY(180deg);
}
